./redis_data
./postgis_data

# Ignore vim tempfiles
*.swp

# No node_modules in the repos!
node_modules

# Ignore the .env file, it should be built by setup-local.sh
.env

# Ignore ssl cert files and directories
ssl/
*.crt
*.key

# Ignore the data directory for data services
docker/postgis/geocoder_data/*.sql

*.sver.js
*.official.js
*sver.yml
*official.yml
