[submodule "docker/postgis/cartodb-postgresql"]
	path = docker/postgis/cartodb-postgresql
	url = https://github.com/CartoDB/cartodb-postgresql
[submodule "docker/sqlapi/CartoDB-SQL-API"]
	path = docker/sqlapi/CartoDB-SQL-API
	url = https://github.com/CartoDB/CartoDB-SQL-API
[submodule "docker/windshaft/Windshaft-cartodb"]
	path = docker/windshaft/Windshaft-cartodb
	url = https://github.com/CartoDB/Windshaft-cartodb.git
[submodule "docker/cartodb/cartodb"]
	path = docker/cartodb/cartodb
	url = https://github.com/CartoDB/cartodb.git
[submodule "docker/postgis/dataservices-api-client"]
	path = docker/postgis/dataservices-api-client
	url = https://github.com/CartoDB/dataservices-api.git
[submodule "docker/postgis/dataservices-api-server"]
	path = docker/postgis/dataservices-api-server
	url = https://github.com/CartoDB/dataservices-api.git
[submodule "docker/postgis/data-services"]
	path = docker/postgis/data-services
	url = https://github.com/CartoDB/data-services.git
