./redis_data
./postgis_data

# Ignore vim tempfiles
*.swp

# No node_modules in the repos!
node_modules

# Ignore the .env file, it should be built by setup-local.sh
.env

# Ignore ssl cert files
*.crt
*.key
