CARTO_ENV={{{carto_env}}}
VARNISH_HTTP_PORT={{{varnish_http_port}}}
SQLAPI_VERSION={{{sqlapi_version}}}
WINDSHAFT_VERSION={{{windshaft_version}}}
CARTODB_VERSION={{{cartodb_version}}}
CRANKSHAFT_VERSION={{{crankshaft_version}}}
DATASERVICES_VERSION={{{dataservices_version}}}
DATASERVICES_API_SERVER_VERSION={{{dataservices_api_server_version}}}
DATASERVICES_API_CLIENT_VERSION={{{dataservices_api_client_version}}}
OBSERVATORY_VERSION={{{observatory_version}}}
CARTODB_LISTEN_PORT={{{cartodb_listen_port}}}
STACK_SCHEME={{{stack_scheme}}}
USER_ACCOUNT_USER_NAME={{{user_account_user_name}}}
USER_ACCOUNT_PASSWORD={{{user_account_password}}}
USER_ACCOUNT_EMAIL={{{user_account_email}}}
USER_ADMIN_PASSWORD={{{user_admin_password}}}
GEOCODER_DB_NAME={{{geocoder_db_name}}}
ORG_ACCOUNT_ORG_NAME={{{org_account_org_name}}}
ORG_ACCOUNT_USER_NAME={{{org_account_user_name}}}
ORG_ACCOUNT_EMAIL={{{org_account_email}}}
ORG_ACCOUNT_PASSWORD={{{org_account_password}}}
REDIS_HOST={{{redis_host}}}
REDIS_LISTEN_PORT={{{redis_listen_port}}}
POSTGIS_HOST={{{postgis_host}}}
POSTGIS_LISTEN_PORT={{{postgis_listen_port}}}
