{
    "PGEXT_VERSION": "{{{pgext_version}}}",
    "CRANKSHAFT_VERSION": "{{{crankshaft_version}}}",
    "DATASERVICES_VERSION": "{{{dataservices_version}}}",
    "DATASERVICES_API_SERVER_VERSION": "{{{dataservices_api_server_version}}}",
    "DATASERVICES_API_CLIENT_VERSION": "{{{dataservices_api_client_version}}}",
    "OBSERVATORY_VERSION": "{{{observatory_version}}}",
    "ODBC_FDW_VERSION": "{{{odbc_fdw_version}}}"
}
